POSTGRES_DB=taskflow
POSTGRES_USER=taskflowuser
POSTGRES_PASSWORD=taskflowpassword

ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080

CONNECTION_STRING=Host=postgres;Port=5432;Database=taskflow;Username=taskflowuser;Password=taskflowpassword